* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: blue;
}
header{
    height: 80px;
    background-color: aliceblue;
}
main{
    align-items: center;
    display: flex;
    justify-content: center;
}
.container{
    background-color: brown;
    height: 80vh;
    width: 40vw;
}